{% extends "base.html" %}

{% block title %}{{ anime.title }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="anime-container">
    <h1>{{ anime.title }}</h1>
    <img src="{{ anime.image_url }}" alt="{{ anime.title }}" style="max-width:300px;" />
    <p style="white-space: pre-line;">{{ anime.description }}</p>
    <p>Эпизоды: {{ anime.episodes }}</p>
    {% if 'user_id' in session %}
    <button id='fav-button' class='good-button' onclick="addOrRemoveFavourite()">
        Add to Favourite
    </button>
    {% endif %}
    {% if 'user_id' in session and user_status > 1 %}
    <a href="/anime/{{ anime.id }}/edit" class="edit-button">Изменить</a>
    {% endif %}

    {% if anime.videos != [] %}
    <section class="video-container">
        <div class="episode-selector">
            <label for="episode-dropdown">Выберите эпизод:</label>
            <select id="episode-dropdown" onchange="playSelectedVideo()">
                {% for video in anime.videos %}
                <option value="{{ loop.index0 }}">{{ video }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="video-player" id="featured-anime">
            <h3 id="video-title">Эпизод: {{ anime.videos[0] }}</h3>
            <video id="video-player" controls width="1100">
                <source src="" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
        </div>
    </section>
    {% endif %}
</div>

{% if 'user_id' not in session %}
<script>
    const videos = {{ anime.videos| tojson | safe }};
    const animeId = "{{ anime.id }}";

    function playSelectedVideo() {
        const dropdown = document.getElementById('episode-dropdown');
        const selectedIndex = dropdown.value;
        const videoPlayer = document.getElementById('video-player');
        const videoTitle = document.getElementById('video-title')
        if (videos && videos[selectedIndex]) {
            curVideoId = `${ animeId }_${videos[selectedIndex]}`;
            fetch(`/videos/${curVideoId}`)
                .then(response => response.json())
                .then(video_link => {
                    if (video_link.success) {
                        videoPlayer.src = video_link.link;
                    }
                });
            videoTitle.textContent = `Эпизод: ${videos[selectedIndex]}`;
            videoPlayer.load();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        if (videos && videos.length > 0) {
            const videoPlayer = document.getElementById('video-player');
            playSelectedVideo();
        }
    });
</script>
{% endif %}

{% if 'user_id' in session %}
<script>
    let isFavorited = "{{ is_favourite }}" === "True";
    const videos = {{ anime.videos| tojson | safe }};

    console.log(videos)

    let curVideoId = '';

    const favButton = document.getElementById('fav-button');
    const animeId = "{{ anime.id }}";
    const userId = "{{ user_id }}";

    function addOrRemoveFavourite() {
        if (isFavorited) {
            fetch('/remove_favourite', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(animeId)
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        isFavorited = !isFavorited;
                        updateButton();
                    }
                });
        } else {
            fetch('/add_favourite', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(animeId)
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        isFavorited = !isFavorited;
                        updateButton();
                    }
                });
        }
    };

    function updateButton() {
        if (isFavorited) {
            favButton.textContent = "Удалить из Любимого";
            favButton.className = "bad-button";
        } else {
            favButton.textContent = "Добавить в Любимое";
            favButton.className = "good-button";
        }
    }

    function playSelectedVideo() {
        const dropdown = document.getElementById('episode-dropdown');
        const selectedIndex = dropdown.value;
        const videoPlayer = document.getElementById('video-player');
        const videoTitle = document.getElementById('video-title')
        if (videos && videos[selectedIndex]) {
            curVideoId = `${ animeId }_${videos[selectedIndex]}`;

            fetch(`/videos/${curVideoId}`)
                .then(response => response.json())
                .then(video_link => {
                    if (video_link.success) {
                        videoPlayer.src = video_link.link;
                    }
                });
            videoTitle.textContent = `Эпизод: ${videos[selectedIndex]}`;
            videoPlayer.load();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        if (videos && videos.length > 0) {
            const videoPlayer = document.getElementById('video-player');
            if (userId != '') {
                videoPlayer.addEventListener('play', saveLastWatched);
                videoPlayer.addEventListener("visibilitychange", saveLastWatched);
            }
            playSelectedVideo();
        }
    });

    function saveLastWatched() {
        const data = {
            user_id: userId,
            video_id: curVideoId,
            timestamp_s: document.getElementById('video-player').currentTime
        };

        fetch('/update_last_video', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    console.error('Не удалось сохранить прогресс');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
    }

    updateButton();

    const user_anime_history = {{ user_anime_history | tojson | safe }};
    if (user_anime_history !== null) {
        document.getElementById('episode-dropdown').value = user_anime_history['episode_number']-1;
        document.getElementById('video-title').textContent = `Эпизод: ${videos[user_anime_history['episode_number']-1]}`;
        document.getElementById('video-player').src = `/videos/${user_anime_history['video_id']}.mp4`;
        document.getElementById('video-player').currentTime = user_anime_history['timestamp_s'];
    }

    const videoPlayer = document.getElementById('video-player');

    setInterval(() => {
        if (!videoPlayer.paused && !isNaN(videoPlayer.currentTime)) {
            saveLastWatched();
        }
    }, 2000);
</script>
{% endif %}

{% endblock %}