{% extends "base.html" %}

{% block title %}{{ anime.title }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="anime-container">
    <h1>{{ anime.title }}</h1>
    <img src="{{ anime.image_url }}" alt="{{ anime.title }}" style="max-width:300px;" />
    <p>{{ anime.description }}</p>
    <p>Episodes: {{ anime.episodes }}</p>
    {% if 'user_id' in session %}
    <button id='fav-button' class='good-button' onclick="addOrRemoveFavourite()">
        Add to Favourite
    </button>
    {% endif %}
    {% if 'user_id' in session and user_status > 1 %}
    <a href="/anime/{{ anime.id }}/edit" class="edit-button">Edit</a>
    {% endif %}
</div>

{% if 'user_id' in session %}
<script>
    let isFavorited = "{{ is_favourite }}" === "True"; 

    const favButton = document.getElementById('fav-button');
    const animeId = "{{ anime.id }}";

    function addOrRemoveFavourite() {
        if(isFavorited){
            fetch('/remove_favourite', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(animeId)
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        isFavorited = !isFavorited
                    }
            });
        } else{
            fetch('/add_favourite', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(animeId)
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        isFavorited = !isFavorited
                        updateButton()
                    }
            });
        }
    };

    function updateButton() {
        if (isFavorited) {
            favButton.textContent = "Remove from Favourite";
            favButton.className = "bad-button";
        } else {
            favButton.textContent = "Add to Favourite";
            favButton.className = "good-button";
        }
    }

    updateButton();
</script>
{% endif %}
{% endblock %}