<!DOCTYPE html>
<html>

<head>
    <title>Anime Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <a href="/">Главная</a>
            <a href="/anime/search">Поиск</a>
            <a href="/chat">Чат</a>
        </div>
        <div>
            {% if 'user_id' in session %}
            <a href="/logout">Выйти</a>
            {% else %}
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>