{% extends "base.html" %}

{% block content %}
<div id="welcome-text" class="anime-grid">
    <p><h1>Добро пожаловать, {{ user_name }}!</h1></p>
</div>

{% if user_status > 2 %}
<section class="search-container">
    <h1><a href="/anime/new/edit" class="anime-grid">Добавить аниме</a></h1>
</section>
{% endif %}

<section class="search-container">
    <div id="favourite-text" class="anime-grid"></div>
    <div id="anime-results" class="anime-grid" role="list"></div>
</section>

<section class="video-container">
    <div class="video-container" id="featured-anime"></div>
</section>

<div id="name-edit" class="anime-grid">
    <div id="name-display" style="color: #0d6ac7;cursor: pointer;">Изменить псевдоним</div>
    <form id="name-edit-form" style="display: none;">
        <input type="text" id="name-input">
        <button type="button" class="good-button" id="save-edit">Сохранить</button>
        <button type="button" class="neutral-button" id="cancel-edit">Отмена</button>
    </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const animeIds = JSON.parse('{{ anime_ids| tojson | safe}}');

    const resultsContainer = document.getElementById('anime-results');
    const featuredContainer = document.getElementById('featured-anime');
    const favouriteTextContainer = document.getElementById('favourite-text');

    if (!animeIds || animeIds.length === 0) {
        favouriteTextContainer.innerHTML = "<p><h2>У вас нет любимых аниме</h2></p>";
        return;
    } else {
        favouriteTextContainer.innerHTML = "<p><h2>Любимые аниме</h2></p>";
    }

    let featuredRendered = false;

    const fetchAnimeDetails = async (animeIds) => {
        try {
            const last_video = '{{ last_watched }}'

            const response = await fetch(`/anime_by_video/${last_video}`);
            const video_data = await response.json();

            if (video_data.title) {
                featuredContainer.innerHTML = `
                    <h1><a href="/anime/${video_data.anime_id}" class="edit-button">${video_data.title}</a> - ep.${video_data.episode}</h1>
                    <video width="1100" controls>
                        <source src="/videos/${last_video}.mp4" type="video/mp4">
                        Ваш браузер не поддерживает видео.
                    </video>
                `;
            }

            if(animeIds){
                favouriteTextContainer.innerHTML = `
                    <h2>Любимое аниме</h2>
                `;
            }

            for (let animeId of animeIds) {
                const response = await fetch(`/anime_details/${animeId}`);
                
                const anime = await response.json();
                if (anime._id === undefined) {
                    continue;
                }
                const animeCard = document.createElement('a');

                animeCard.href = `/anime/${anime._id.$oid}`;
                animeCard.classList.add('anime-card');
                animeCard.innerHTML = `
                        <img src="${anime.image_url}" alt="${anime.title}">
                        <h3>${anime.title}</h3>
                    `;
                resultsContainer.appendChild(animeCard);
            }
        } catch (error) {
            console.error('Ошибка получения аниме:', error);
        }
    };

    fetchAnimeDetails(animeIds);

    const nameDisplay = document.getElementById('name-display');
    const welcomeDisplay = document.getElementById('welcome-text');
    const nameEditForm = document.getElementById('name-edit-form');
    const nameInput = document.getElementById('name-input');
    const saveButton = document.getElementById('save-edit');
    const cancelButton = document.getElementById('cancel-edit');

    nameDisplay.addEventListener('click', function () {
        nameDisplay.style.display = 'none';
        nameEditForm.style.display = 'block';
        nameInput.value = "{{ user_name }}";
        nameInput.focus();
    });

    const changeUserName = async (newName) => {
        try {
            const response = await fetch('/update_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: "{{ user_id }}",
                    name: newName
                })
            });

            const data = await response.json();

            if (data.success) {
                welcomeDisplay.innerHTML = `<p><h1>Welcome, ${newName}!</h1></p>`;
                nameDisplay.style.display = 'block';
                nameEditForm.style.display = 'none';
                alert('Псевдоним успешно изменен!');
            } else {
                alert('Ошибка изменения псевдонима');
            }
        } catch (error) {
            console.error('Ошибка изменения псевдонима:', error);
        }
    }

    saveButton.addEventListener('click', function (e) {
        e.preventDefault();
        const newName = nameInput.value.trim();
        changeUserName(newName);
    });

    cancelButton.addEventListener('click', function () {
        nameDisplay.style.display = 'block';
        nameEditForm.style.display = 'none';
    });
    
});
</script>
{% endblock %}