{% extends "base.html" %}

{% block content %}
<div class="video-container">
    {% if anime_list %}
    <h1>{{ anime_list[0].title }}</h1> {# Show the first anime's title as featured #}
    <video width="800" controls>
        <source src="{{ url_for('static', filename='videos/' + anime_list[0].video) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="anime-info">
        <img src="{{ url_for('static', filename='img/' + anime_list[0].image) }}" alt="{{ anime_list[0].title }}">
        <p>{{ anime_list[0].description }}</p>
    </div>

    <h2>Other Favorite Anime</h2>
    <div class="anime-list">
        {% for anime in anime_list[1:] %}
        <div class="anime-card">
            <h3>{{ anime.title }}</h3>
            <a href="{{ url_for('index', anime_id=anime.id) }}">
                <img src="{{ url_for('static', filename='img/' + anime.image) }}" alt="{{ anime.title }}">
            </a>
            <p>{{ anime.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You have no favorite anime yet!</p>
    {% endif %}
</div>
{% endblock %}