{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Регистрация</h2>
    <form method="POST">
        <input type="text" name="login" placeholder="Логин" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Вход</a></p>
</div>
{% endblock %}